body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
  }
  
  .header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #538325;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 1000;
    transition: 0.3s ease;
   

  }
  
  .nav-links {
    margin-right: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .nav-text {
    flex-grow: 1;
    width: 400px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Times New Roman", Times, serif;
  }
  
  .header * {
    display: inline;
  }
  
  .header img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
  }
  
  .header li {
    margin: 5px;
  }
  
  .header li a {
    font-size: 15px;
    background-color: #73B03A;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
  }
  
  .header li a:hover {
    background-color: #000000;
    border-color: #78aceb;
    color: #48accb;
  }

  form i {
    float: right;
    margin-left: -25px;
    margin-top: -30px;
    right: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  form a {
    text-decoration: none;
  }

  form a:hover {
    text-decoration: underline;
  }
  